body.dark-mode {
    --bg-opacity: 1;
    background-color: #1a202c;
    background-color: rgba(26, 32, 44, var(--bg-opacity));
    color: #d3d5f3;
}

.card-body {
    background-color: #fff;
}

.sticky-footer {
    background-color: #fff;
    color: #000000
}

.sticky-footer a {
    color: #fff
}